<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html  >
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no" /> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="expires" content="0">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<link rel="shortcut icon" href="https://www.tcs.com/favicon.ico" />
<title>NextStep- Tata Consultancy Services</title>

<!--css files-->
<link rel="stylesheet" href="/campus/pages/css/datepicker.css">
<link rel="stylesheet" href="/campus/pages/css/bootstrap.min.css">
<link rel="stylesheet" href="/campus/pages/css/bootstrapValidator.min.css"/>
<link rel="stylesheet" href="/campus/pages/css/NextStepCustomCSSIndia.css"> 
<link rel="stylesheet" href="/campus/pages/css/NCPCustomPage.css"> 
<link rel="stylesheet" href="/campus/pages/css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="/campus/pages/css/select.min.css">
<link rel="stylesheet" href="/campus/pages/css/select2.css">  
<link rel="stylesheet" href="/campus/pages/css/nprogress.css"> 
<link rel="stylesheet" href="/campus/pages/css/animate.css"> 
<link rel="stylesheet" href="/campus/pages/css/spritestylesheet.css"> 
<link rel="stylesheet" href="/campus/pages/css/awesomplete.css" />
<link rel="stylesheet" href="/campus/pages/css/autocomplete.css"/>
<link rel="stylesheet" href="/campus/pages/css/chatbot.css"> 

<!--css files end-->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<script type="text/javascript" src="./pages/js/require.js" data-main="./pages/js/mainIndia.js"></script>
<!-- <script src="./pages/js/external/awesomplete.js"></script>-->


<!-- <script type="text/javascript" src="/campus/pages/js/angular.min.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/jquery-1.11.2.min.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/bootstrap.min.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/angular-sanitize.min.js"></script> -->
<!-- <script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/ui-bootstrap-tpls-0.12.0.min.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/angular-route.min.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/angular-animate.min.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/angular-resource-1.0.7.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/NextStepApiURL.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/controllers.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/NextStepApplicationFormController.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/services.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/Application.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/factory.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/NextStepFilters.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/bootstrap-datepicker.js"></script> -->
<!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/ngStorage.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/passwordValidator.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/directives/regularExpressionDirective.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/javaScriptUtil/constants.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/controller/applicationForm_Controller.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/controller/menu_controller.js"></script> -->
<!--<script type="text/javascript" src="http://angular-ui.github.com/ng-grid/lib/ng-grid.debug.js"></script>-->
<!-- <script type="text/javascript" src="/campus/pages/js/javaScriptUtil/angular-spinner.min.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/javaScriptUtil/spin.min.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js//ui-bootstrap-tpls-0.11.2.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/angular-input-match.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/controller/RegisteredCand_Controller.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/nprogress.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/controller/feedbackformController.js"></script>
<script type="text/javascript" src="/campus/pages/js/controller/certificationDetailsController.js"></script>
<script type="text/javascript" src="/campus/pages/js/controller/offerLetterController.js"></script>
<script type="text/javascript" src="/campus/pages/js/controller/joiningAndILPController.js"></script> -->
<!--<script type="text/javascript" src="/campus/pages/js/controller/academicForm_Controller.js"></script>-->
<!-- <script type="text/javascript" src="/campus/pages/js/select.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/angular-loading-spinner.js"></script> -->
<!-- <script type="text/javascript" src="/campus/pages/js/angular-spinner.min.js"></script> -->
</head>


<body>
	<div id="overBody"></div>
	<div class="oldHeaderFooter">
	<div ng-if="innerHeader" >
		<img src="pages/images/Header-image1a.jpg" width="1000px" height="120px" class="center-block"></img>
	</div>	</div>
	<div id="mainDivision" ng-cloak>
		<div ng-view></div>	 
		 
	</div>
	
		 <div data-ng-controller="chatbotController">
		 	<div ng-show="chatBotVisible=='Y'">
				<div ng-include="'/campus/pages/partials/india/chatbot.html'" >			
				</div>
			</div>  
		</div>
	
			
	<div class="oldHeaderFooter">
	<div ng-if="innerFooter" style="width: 1000px;height: 30px;" class="center-block">
		<hr width="1000px;" style="border-top-color: #979494;">
		<span style="font-family: robotoRegular,  Open Sans, Segoe UI ,Sans-Serif; font-size: 11px; color: #1a8aca">2020 Tata Consultancy Services Limited. All rights reserved | Build Number : {{buildNumber}} </span>
	</div></div>
	<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-177855-12', 'auto');
	  ga('send', 'pageview');	
	  window['ga-disable-UA-177855-12'] = true;
</script>
<script> 
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? 
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n; 
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0; 
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, 
document,'script','https://connect.facebook.net/en_US/fbevents.js'); 
fbq('init', '1904318146252340'); // Insert your pixel ID here. 
//fbq('track', 'PageView'); 
</script> 
<noscript><img height="1" width="1" style="display:none" 
src="https://www.facebook.com/tr?id=1904318146252340&ev=PageView&noscript=1" 
/></noscript>

</body>
<!-- <script type="text/javascript">
 $(document).ready(function(){
	$('meta[name="viewport"]').prop('content', 'width=1170');
}); </script>-->
</html> 